$primary-color: #ffefe7;
$secondary-color: #ffdac6;
$tertiary-color: #babd8d;
$quaternary-color: #fa9500;
$primary-text-color: #7c6a0a;
$font-stack: "IBM Plex Sans", sans-serif;
$paragraph-size: 1.3rem;

@mixin flexCenter ($direction, $content, $align){
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $primary-color;
  font-family: $font-stack;
}

nav {
  width: auto;
  @include flexCenter(row, space-between, center);
  color: $primary-text-color;
  padding: 15px;
  p {
    font-size: $paragraph-size;
    padding: 0 40px;
  }
  .icons {
    display: flex;
    gap: 5px;

    buttom {
      padding-top: 10px;
      padding-right: 5px;
    }
  }
}

article {
  color: $primary-text-color;
  width: auto;
  @include flexCenter(row, space-between, center);
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 40px;
  .impact-section {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 20px;
  }
  h1 {
    font-size: 2.5rem;
    padding: 0px;
    margin: 0px;
  }
  p {
    font-size: $paragraph-size;
  }
  button {
    background-color: $quaternary-color;
    border-style: none;
    width: 12vw;
    padding: 20px;
    border-radius: 35px;
    color: white;
    font-size: 1em;
    &:hover{
      transform: scale(1.1);
    }
  }
  img {
    width: 24vw;
    border-radius: 19px;
    margin-top: 30px;
  }
}

section {
  width: auto;
  height: auto;
  padding: 60px;
  h2 {
    font-size: 2rem;
    color: $primary-text-color;
  }
  .healthcare {
    padding-bottom: 60px;
    h2 {
      font-weight: 300;
      padding-bottom: 60px;
    }
    .card-section {
      display: flex;
      width: auto;
      height: auto;
      @include flexCenter(row, space-evenly, center);
      column-gap: 100px;
      row-gap: 80px;
      flex-wrap: wrap;
    }
  }
  .product-card {
    width: 19vw;
    height: auto;
    background-color: $secondary-color;
    color: $primary-text-color;
    padding: 20px;
    border-radius: 8px;
    .icon {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-bottom: 10px;
    }
    .product-image {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 16vw;
        height: 30vh;
        object-fit: cover;
        border-radius: 6px;
      }
    }
  }
}

.furniture {
  @extend .healthcare;
  .card-section {
    .product-card {
      background-color: $tertiary-color;
      color: white;
    }
  }
}

section{
  .about-us{
    @extend .healthcare;
    h2{
      font-weight: bold;
    }
    .mision-section{
      @include flexCenter(row, space-evenly, center);
      padding-bottom: 60px;
    }
    .earth{
      width: 40vw;
      display: flex;
      gap: 40px;
      color: #E86424;
      p{
        text-align: center;
        font-size: $paragraph-size;
        padding-top: 15px;
      }
    }
  }
  .innovation{
    @extend .earth;
  }
}

.gallery{
  .gallery-images{
    @include flexCenter(row, space-between, center);
      img{
        width: 25vw;
        height: 30vh;
        object-fit: cover;
        border-radius: 16px;
        margin-bottom: 60px;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }

.location{
  color: #E86424;
  .map{
    @include flexCenter(row, center, center);
    img{
      width: 75vw;
      padding-bottom: 30px;
    }
  }
}

footer {
  background-color: $quaternary-color;
  width: auto;
  padding: 40px;
  height: auto;
  color: white;
  .social-media{
    @include flexCenter(row, center, center);
    gap: 40px;
    padding-bottom: 20px;
  }
}
